body {
    background-color: aqua;
    margin: 5px;
    padding: 5px;
    font-size: 18pt;
    line-height: 1.5em;
    border: red;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  h1{
    text-align: center;
    text-decoration: underline;
  }

  h2{
    text-decoration: underline;
  }